---
import Icon from '@modulz/radix-icons/astro'

const { size = 15, width = size, height = size, ...more } = Astro.props
---
<section>
	<h3>Abstract</h3>
	<div>
		<Icon.HamburgerMenuIcon width={width} height={height} aria-label="Hamburger" />
		<Icon.Cross1Icon width={width} height={height} aria-label="Cross 1" />
		<Icon.DotsHorizontalIcon width={width} height={height} aria-label="Dots Horizontal" />
		<Icon.DotsVerticalIcon width={width} height={height} aria-label="Dots Vertical" />
		<Icon.PlusIcon width={width} height={height} aria-label="Plus" />
		<Icon.MinusIcon width={width} height={height} aria-label="Minus" />
		<Icon.CheckIcon width={width} height={height} aria-label="Check" />
		<Icon.Cross2Icon width={width} height={height} aria-label="Cross 2" />
		<Icon.CheckCircledIcon width={width} height={height} aria-label="Check Circled" />
		<Icon.CrossCircledIcon width={width} height={height} aria-label="Cross Circled" />
		<Icon.PlusCircledIcon width={width} height={height} aria-label="Plus Circled" />
		<Icon.MinusCircledIcon width={width} height={height} aria-label="Minus Circled" />
		<Icon.QuestionMarkIcon width={width} height={height} aria-label="Question Mark" />
		<Icon.QuestionMarkCircledIcon width={width} height={height} aria-label="Question Mark Circled " />
		<Icon.InfoCircledIcon width={width} height={height} aria-label="Info Circled" />
		<Icon.ExclamationTriangleIcon width={width} height={height} aria-label="Exclamation Triangle" />
		<Icon.Share1Icon width={width} height={height} aria-label="Share 1" />
		<Icon.Share2Icon width={width} height={height} aria-label="Share 2" />
		<Icon.ExternalLinkIcon width={width} height={height} aria-label="External Link" />
		<Icon.EnterIcon width={width} height={height} aria-label="Enter" />
		<Icon.ExitIcon width={width} height={height} aria-label="Exit" />
		<Icon.DownloadIcon width={width} height={height} aria-label="Download" />
		<Icon.UploadIcon width={width} height={height} aria-label="Upload" />
		<Icon.ResetIcon width={width} height={height} aria-label="Reset" />
		<Icon.ReloadIcon width={width} height={height} aria-label="Reload" />
		<Icon.UpdateIcon width={width} height={height} aria-label="Update" />
		<Icon.EnterFullScreenIcon width={width} height={height} aria-label="Enter Full Screen " />
		<Icon.ExitFullScreenIcon width={width} height={height} aria-label="Exit Full Screen " />
		<Icon.DragHandleVerticalIcon width={width} height={height} aria-label="Drag Handle Vertical " />
		<Icon.DragHandleHorizontalIcon width={width} height={height} aria-label="Drag Handle Horizontal " />
		<Icon.DragHandleDots1Icon width={width} height={height} aria-label="Drag Handle Dots  1" />
		<Icon.DragHandleDots2Icon width={width} height={height} aria-label="Drag Handle Dots  2" />
		<Icon.DotIcon width={width} height={height} aria-label="Dot" />
		<Icon.DotFilledIcon width={width} height={height} aria-label="Dot Filled" />
		<Icon.CommitIcon width={width} height={height} aria-label="Commit" />
		<Icon.SlashIcon width={width} height={height} aria-label="Slash" />
		<Icon.CircleIcon width={width} height={height} aria-label="Circle" />
		<Icon.CircleBackslashIcon width={width} height={height} aria-label="Circle Backslash" />
		<Icon.Half1Icon width={width} height={height} aria-label="Half 1" />
		<Icon.Half2Icon width={width} height={height} aria-label="Half 2" />
		<Icon.ViewVerticalIcon width={width} height={height} aria-label="View Vertical" />
		<Icon.ViewHorizontalIcon width={width} height={height} aria-label="View Horizontal" />
		<Icon.ViewGridIcon width={width} height={height} aria-label="View Grid" />
		<Icon.ViewNoneIcon width={width} height={height} aria-label="View None" />
		<Icon.SquareIcon width={width} height={height} aria-label="Square" />
		<Icon.CopyIcon width={width} height={height} aria-label="Copy" />
		<Icon.DashIcon width={width} height={height} aria-label="Dash" />
	</div>
</section>
