---
import Icon from '@modulz/radix-icons/astro'

const { size = 15, width = size, height = size, ...more } = Astro.props
---
<section>
	<h3>Arrows</h3>
	<div>
		<Icon.ArrowLeftIcon width={width} height={height} aria-label="Arrow Left" />
		<Icon.ArrowRightIcon width={width} height={height} aria-label="Arrow Right" />
		<Icon.ArrowUpIcon width={width} height={height} aria-label="Arrow Up" />
		<Icon.ArrowDownIcon width={width} height={height} aria-label="Arrow Down" />
		<Icon.ArrowTopLeftIcon width={width} height={height} aria-label="Arrow Top Left " />
		<Icon.ArrowTopRightIcon width={width} height={height} aria-label="Arrow Top Right " />
		<Icon.ArrowBottomLeftIcon width={width} height={height} aria-label="Arrow Bottom Left " />
		<Icon.ArrowBottomRightIcon width={width} height={height} aria-label="Arrow Bottom Right " />
		<Icon.ChevronDownIcon width={width} height={height} aria-label="Chevron Down" />
		<Icon.ChevronLeftIcon width={width} height={height} aria-label="Chevron Left" />
		<Icon.ChevronRightIcon width={width} height={height} aria-label="Chevron Right" />
		<Icon.ChevronUpIcon width={width} height={height} aria-label="Chevron Up" />
		<Icon.DoubleArrowDownIcon width={width} height={height} aria-label="Double Arrow Down " />
		<Icon.DoubleArrowLeftIcon width={width} height={height} aria-label="Double Arrow Left " />
		<Icon.DoubleArrowRightIcon width={width} height={height} aria-label="Double Arrow Right " />
		<Icon.DoubleArrowUpIcon width={width} height={height} aria-label="Double Arrow Up " />
		<Icon.ThickArrowLeftIcon width={width} height={height} aria-label="Thick Arrow Left " />
		<Icon.ThickArrowRightIcon width={width} height={height} aria-label="Thick Arrow Right " />
		<Icon.ThickArrowUpIcon width={width} height={height} aria-label="Thick Arrow Up " />
		<Icon.ThickArrowDownIcon width={width} height={height} aria-label="Thick Arrow Down " />
		<Icon.TriangleLeftIcon width={width} height={height} aria-label="Triangle Left" />
		<Icon.TriangleRightIcon width={width} height={height} aria-label="Triangle Right" />
		<Icon.TriangleUpIcon width={width} height={height} aria-label="Triangle Up" />
		<Icon.TriangleDownIcon width={width} height={height} aria-label="Triangle Down" />
		<Icon.CaretLeftIcon width={width} height={height} aria-label="Caret Left" />
		<Icon.CaretRightIcon width={width} height={height} aria-label="Caret Right" />
		<Icon.CaretUpIcon width={width} height={height} aria-label="Caret Up" />
		<Icon.CaretDownIcon width={width} height={height} aria-label="Caret Down" />
		<Icon.CaretSortIcon width={width} height={height} aria-label="Caret Sort" />
		<Icon.WidthIcon width={width} height={height} aria-label="Width" />
		<Icon.HeightIcon width={width} height={height} aria-label="Height" />
		<Icon.SizeIcon width={width} height={height} aria-label="Size" />
		<Icon.MoveIcon width={width} height={height} aria-label="Move" />
		<Icon.AllSidesIcon width={width} height={height} aria-label="All Sides" />
	</div>
</section>
