---
import Icon from '@modulz/radix-icons/astro'

const { size = 15, width = size, height = size, ...more } = Astro.props
---
<section>
	<h3>Components</h3>
	<div>
		<Icon.BoxIcon width={width} height={height} aria-label="Box" />
		<Icon.AspectRatioIcon width={width} height={height} aria-label="Aspect Ratio" />
		<Icon.ContainerIcon width={width} height={height} aria-label="Container" />
		<Icon.SectionIcon width={width} height={height} aria-label="Section" />
		<Icon.LayoutIcon width={width} height={height} aria-label="Layout" />
		<Icon.GridIcon width={width} height={height} aria-label="Grid" />
		<Icon.TableIcon width={width} height={height} aria-label="Table" />
		<Icon.ImageIcon width={width} height={height} aria-label="Image" />
		<Icon.SwitchIcon width={width} height={height} aria-label="Switch" />
		<Icon.CheckboxIcon width={width} height={height} aria-label="Checkbox" />
		<Icon.RadiobuttonIcon width={width} height={height} aria-label="Radiobutton" />
		<Icon.AvatarIcon width={width} height={height} aria-label="Avatar" />
		<Icon.ButtonIcon width={width} height={height} aria-label="Button" />
		<Icon.BadgeIcon width={width} height={height} aria-label="Badge" />
		<Icon.InputIcon width={width} height={height} aria-label="Input" />
		<Icon.SliderIcon width={width} height={height} aria-label="Slider" />
		<Icon.QuoteIcon width={width} height={height} aria-label="Quote" />
		<Icon.CodeIcon width={width} height={height} aria-label="Code" />
		<Icon.ListBulletIcon width={width} height={height} aria-label="List Bullet" />
		<Icon.DropdownMenuIcon width={width} height={height} aria-label="Dropdown Menu" />
		<Icon.VideoIcon width={width} height={height} aria-label="Video" />
		<Icon.PieChartIcon width={width} height={height} aria-label="Pie Chart" />
		<Icon.CalendarIcon width={width} height={height} aria-label="Calendar" />
		<Icon.DashboardIcon width={width} height={height} aria-label="Dashboard" />
		<Icon.ActivityLogIcon width={width} height={height} aria-label="Activity Log" />
		<Icon.BarChartIcon width={width} height={height} aria-label="Bar Chart" />
		<Icon.DividerVerticalIcon width={width} height={height} aria-label="Divider Vertical" />
		<Icon.DividerHorizontalIcon width={width} height={height} aria-label="Divider Horizontal" />
	</div>
</section>
