---
import Icon from '@modulz/radix-icons/astro'

const { size = 15, width = size, height = size, ...more } = Astro.props
---
<section>
	<h3>Design</h3>
	<div>
		<Icon.FrameIcon width={width} height={height} aria-label="Frame" />
		<Icon.CropIcon width={width} height={height} aria-label="Crop" />
		<Icon.LayersIcon width={width} height={height} aria-label="Layers" />
		<Icon.StackIcon width={width} height={height} aria-label="Stack" />
		<Icon.TokensIcon width={width} height={height} aria-label="Tokens" />
		<Icon.Component1Icon width={width} height={height} aria-label="Component 1" />
		<Icon.Component2Icon width={width} height={height} aria-label="Component 2" />
		<Icon.SymbolIcon width={width} height={height} aria-label="Symbol" />
		<Icon.ComponentInstanceIcon width={width} height={height} aria-label="Component Instance" />
		<Icon.ComponentNoneIcon width={width} height={height} aria-label="Component None" />
		<Icon.ComponentBooleanIcon width={width} height={height} aria-label="Component Boolean" />
		<Icon.ComponentPlaceholderIcon width={width} height={height} aria-label="Component Placeholder" />
		<Icon.OpacityIcon width={width} height={height} aria-label="Opacity" />
		<Icon.BlendingModeIcon width={width} height={height} aria-label="Blending Mode" />
		<Icon.MaskOnIcon width={width} height={height} aria-label="Mask On" />
		<Icon.MaskOffIcon width={width} height={height} aria-label="Mask Off" />
		<Icon.ShadowIcon width={width} height={height} aria-label="Shadow" />
		<Icon.ShadowNoneIcon width={width} height={height} aria-label="Shadow None" />
		<Icon.ShadowInnerIcon width={width} height={height} aria-label="Shadow Inner" />
		<Icon.ShadowOuterIcon width={width} height={height} aria-label="Shadow Outer" />
		<Icon.ValueIcon width={width} height={height} aria-label="Value" />
		<Icon.ValueNoneIcon width={width} height={height} aria-label="Value None" />
		<Icon.ZoomInIcon width={width} height={height} aria-label="Zoom In" />
		<Icon.ZoomOutIcon width={width} height={height} aria-label="Zoom Out" />
		<Icon.TransparencyGridIcon width={width} height={height} aria-label="Transparency Grid" />
		<Icon.GroupIcon width={width} height={height} aria-label="Group" />
		<Icon.DimensionsIcon width={width} height={height} aria-label="Dimensions" />
		<Icon.RotateCounterClockwiseIcon width={width} height={height} aria-label="Rotate Counter-Clockwise" />
		<Icon.ColumnsIcon width={width} height={height} aria-label="Columns" />
		<Icon.RowsIcon width={width} height={height} aria-label="Rows" />
		<Icon.BoxModelIcon width={width} height={height} aria-label="Box Model" />
		<Icon.PaddingIcon width={width} height={height} aria-label="Padding" />
		<Icon.MarginIcon width={width} height={height} aria-label="Margin" />
		<Icon.AngleIcon width={width} height={height} aria-label="Angle" />
		<Icon.CursorArrowIcon width={width} height={height} aria-label="Cursor Arrow" />
		<Icon.CursorTextIcon width={width} height={height} aria-label="Cursor Text" />
		<Icon.ColumnSpacingIcon width={width} height={height} aria-label="Column Spacing" />
		<Icon.RowSpacingIcon width={width} height={height} aria-label="Row Spacing" />
	</div>
</section>
