---
import Icon from '@modulz/radix-icons/astro'

const { size = 15, width = size, height = size, ...more } = Astro.props
---
<section>
	<h3>Objects</h3>
	<div>
		<Icon.MagnifyingGlassIcon width={width} height={height} aria-label="Magnifying Glass" />
		<Icon.GearIcon width={width} height={height} aria-label="Gear" />
		<Icon.BellIcon width={width} height={height} aria-label="Bell" />
		<Icon.HomeIcon width={width} height={height} aria-label="Home" />
		<Icon.LockClosedIcon width={width} height={height} aria-label="Lock Closed" />
		<Icon.LockOpen1Icon width={width} height={height} aria-label="Lock Open 1 " />
		<Icon.LockOpen2Icon width={width} height={height} aria-label="Lock Open 2 " />
		<Icon.BackpackIcon width={width} height={height} aria-label="Backpack" />
		<Icon.CameraIcon width={width} height={height} aria-label="Camera" />
		<Icon.PaperPlaneIcon width={width} height={height} aria-label="Paper Plane" />
		<Icon.RocketIcon width={width} height={height} aria-label="Rocket" />
		<Icon.EnvelopeClosedIcon width={width} height={height} aria-label="Envelope Closed" />
		<Icon.EnvelopeOpenIcon width={width} height={height} aria-label="Envelope Open" />
		<Icon.ChatBubbleIcon width={width} height={height} aria-label="Chat Bubble" />
		<Icon.Link1Icon width={width} height={height} aria-label="Link 1" />
		<Icon.LinkNone1Icon width={width} height={height} aria-label="Link None 1 " />
		<Icon.LinkBreak1Icon width={width} height={height} aria-label="Link Break 1 " />
		<Icon.Link2Icon width={width} height={height} aria-label="Link 2" />
		<Icon.LinkNone2Icon width={width} height={height} aria-label="Link None 2 " />
		<Icon.LinkBreak2Icon width={width} height={height} aria-label="Link Break 2 " />
		<Icon.TrashIcon width={width} height={height} aria-label="Trash" />
		<Icon.Pencil1Icon width={width} height={height} aria-label="Pencil 1" />
		<Icon.Pencil2Icon width={width} height={height} aria-label="Pencil 2" />
		<Icon.BookmarkIcon width={width} height={height} aria-label="Bookmark" />
		<Icon.DrawingPinIcon width={width} height={height} aria-label="Drawing Pin" />
		<Icon.DrawingPinFilledIcon width={width} height={height} aria-label="Drawing Pin Filled " />
		<Icon.SewingPinIcon width={width} height={height} aria-label="Sewing Pin" />
		<Icon.SewingPinFilledIcon width={width} height={height} aria-label="Sewing Pin Filled " />
		<Icon.CubeIcon width={width} height={height} aria-label="Cube" />
		<Icon.ArchiveIcon width={width} height={height} aria-label="Archive" />
		<Icon.CrumpledPaperIcon width={width} height={height} aria-label="Crumpled Paper" />
		<Icon.MixIcon width={width} height={height} aria-label="Mix" />
		<Icon.MixerHorizontalIcon width={width} height={height} aria-label="Mixer Horizontal" />
		<Icon.MixerVerticalIcon width={width} height={height} aria-label="Mixer Vertical" />
		<Icon.FileIcon width={width} height={height} aria-label="File" />
		<Icon.FileTextIcon width={width} height={height} aria-label="File Text" />
		<Icon.FilePlusIcon width={width} height={height} aria-label="File Plus" />
		<Icon.FileMinusIcon width={width} height={height} aria-label="File Minus" />
		<Icon.ReaderIcon width={width} height={height} aria-label="Reader" />
		<Icon.CardStackIcon width={width} height={height} aria-label="Card Stack" />
		<Icon.CardStackPlusIcon width={width} height={height} aria-label="Card Stack Plus" />
		<Icon.CardStackMinusIcon width={width} height={height} aria-label="Card Stack Minus" />
		<Icon.IdCardIcon width={width} height={height} aria-label="Id Card" />
		<Icon.Crosshair1Icon width={width} height={height} aria-label="Crosshair 1" />
		<Icon.Crosshair2Icon width={width} height={height} aria-label="Crosshair 2" />
		<Icon.TargetIcon width={width} height={height} aria-label="Target" />
		<Icon.DiscIcon width={width} height={height} aria-label="Disc" />
		<Icon.GlobeIcon width={width} height={height} aria-label="Globe" />
		<Icon.SunIcon width={width} height={height} aria-label="Sun" />
		<Icon.MoonIcon width={width} height={height} aria-label="Moon" />
		<Icon.ClockIcon width={width} height={height} aria-label="Clock" />
		<Icon.TimerIcon width={width} height={height} aria-label="Timer" />
		<Icon.CounterClockwiseClockIcon width={width} height={height} aria-label="Counter-Clockwise Clock" />
		<Icon.CountdownTimerIcon width={width} height={height} aria-label="Countdown Timer" />
		<Icon.StopwatchIcon width={width} height={height} aria-label="Stopwatch" />
		<Icon.LapTimerIcon width={width} height={height} aria-label="Lap Timer" />
		<Icon.LightningBoltIcon width={width} height={height} aria-label="Lightning Bolt" />
		<Icon.MagicWandIcon width={width} height={height} aria-label="Magic Wand" />
		<Icon.FaceIcon width={width} height={height} aria-label="Face" />
		<Icon.PersonIcon width={width} height={height} aria-label="Person" />
		<Icon.EyeOpenIcon width={width} height={height} aria-label="Eye Open" />
		<Icon.EyeNoneIcon width={width} height={height} aria-label="Eye None" />
		<Icon.EyeClosedIcon width={width} height={height} aria-label="Eye Closed" />
		<Icon.HandIcon width={width} height={height} aria-label="Hand" />
		<Icon.RulerHorizontalIcon width={width} height={height} aria-label="Ruler Horizontal" />
		<Icon.RulerSquareIcon width={width} height={height} aria-label="Ruler Square" />
		<Icon.ClipboardIcon width={width} height={height} aria-label="Clipboard" />
		<Icon.ClipboardCopyIcon width={width} height={height} aria-label="Clipboard Copy" />
		<Icon.StarIcon width={width} height={height} aria-label="Star" />
		<Icon.StarFilledIcon width={width} height={height} aria-label="StarFilled" />
		<Icon.CookieIcon width={width} height={height} aria-label="Cookie" />
	</div>
</section>
